{{- bos_token }}{%- set msgs = messages %}{%- if msgs[0]['role'] == 'system' %}{{ '<<SYS>>\n' + msgs[0]['content'] | trim + '\n<</SYS>>\n\n' }}{%- set msgs = msgs[1:] %}{%- endif %}{%- for m in msgs %}{%- if m['role'] == 'user' %}{{ '[INST] ' + m['content'] | trim + ' [/INST]' }}{%- elif m['role'] == 'assistant' %}{{ ' ' + m['content'] | trim + eos_token }}{%- endif %}{%- endfor %}